:root{
    --red : #D01C28;
    --gray: #5A5959;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    height: 72px;
    padding: 10px 0; 
} 

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 24px;
}

button{
    all: unset;
    padding: 6px 16px;
    background: var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
}

.hero{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.hero-content h1{
    font-weight: 800;
    font-size: 108px;
    line-height: 102px;
}

.hero-content p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
}

.hero-button{
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 20px 0;
}

.hero-button .btn-1{
    background-color: var(--red);
    color: white;
    padding: 5px 20px;
}

.hero-button .btn-2{
    background-color: transparent;
    color: black;
    border: 1px solid var(--gray);
    padding: 5px 20px;
}
